@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: local('Jura Regular'), local('Jura-Regular'), url('/theme/jura.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('/theme/raleway.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  overflow: scroll;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', arial, sans;
  background-color: #f2f2f2;
  font-size: 1.2em;
  line-height: 1.5;
  color: #859196;
}
.cookie-text {
  width: calc(100% - 90px);
  display: inline-block;
}
.cookie-button {
  display: inline-block;  
}
.cookie-law {
  background-color: black;
  font-size: 12pt;
  padding: 5px;
}
.cookie-law p {
  padding:0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
hr {
  width: 75%;
  margin-bottom: 30px;
}
h1 {
  font-weight: 400;
}
h2 {
  font-weight: 400;
}
h3 {
  font-weight: 400;
}
.admin-button {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}
.top-bar {
  text-align: right;
  width: calc(100% - 20px);
  background-color: black;
  border-bottom: 2px solid gray;
  color: white;
  padding: 10px;
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
}
.logo {
  width: -moz-fit-content;
  width: fit-content;
  float: left;
}
.title-bar {
  background-color: white;
  width: 100%;
}
.title {
  font-family: 'Jura';
  font-size: 40px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0px;
}
.title-left {
  color: darkred;
}
.title-right {
  color: darkgrey;
}
.nav-bar {
  width: 100%;
  background-color: white;
  text-align: center;
  border-bottom: 4px solid darkgreen;
}
.nav-bar ul {
  padding: 0;
  margin: 0;
}
.nav-bar li {
  display: inline-block;
  padding: 10px;
}
